h1{
    margin-left: 40%;
}

table {
    border-collapse: collapse;
    width: 45%;
    
    margin-left: 27%;
    margin-top: 100px;
    
    
}
  
td, th {
    border: 2px solid black;
    text-align: center;
    padding: 10px;
  
}

img{
    height: 220px;
    width: 170px;
}
